* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Playfair Display', serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Sacramento', cursive;  */
  -webkit-font-smoothing: antialiased;
}

html {
  background-image: url(../src/images/NA-Background-Alt.png);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}




